<body>
  <div class=" container d-flex justify-content-center ">
    <div
      class="card border-success mb-3 w-75 "
      style="max-width: 100rem; min-width: 20rem"
    >

      <div class="card-header bg-success border-success text-light  d-flex justify-content-center ">
        Cadastro do Paciente
      </div>
      <div class="card-body text-success bg-success  bg-opacity-10">
        <div class="card-text">
          <form class="form mt-4" [formGroup]="novoPacienteForm" (submit)="cadastrarPaciente()">
            <div class="form-group">
              <label class="ms-2">Nome</label>
              <input type="text" class="form-control" placeholder="Nome do paciente" formControlName="nome" />
           <app-mensagem *ngIf="novoPacienteForm.get('nome')?.errors?.['required'] && novoPacienteForm.get('nome')?.touched" mensagem="Campo Nome é obrigatorio"></app-mensagem>
           <app-mensagem *ngIf="novoPacienteForm.get('nome')?.errors?.['maxlength']" mensagem="Tamanho máximo de 250 caracteres"></app-mensagem>
          </div>
            <div class="row mt-3" >
              <div class="form-group col">
                <label class="ms-2">Data Nascimento</label>
                <input type="date" class="form-control" placeholder="Data Nascimento"    formControlName="dataNascimento" />
              </div>
              <div class="form-group col">
                <label  class="ms-2">CPF</label>
                <input type="text" class="form-control" placeholder="CPF" mask="000.000.000-00" formControlName="cpf" />
              </div>
              <div class="form-group col ">
                <label class="ms-2">RG</label>
                <input type="text" class="form-control" placeholder="RG"  formControlName="rg"/>
                <app-mensagem *ngIf="novoPacienteForm.get('rg')?.errors?.['maxlength']" mensagem="Tamanho máximo de 25 caracteres"></app-mensagem>
              </div>
            </div>
            <div class="form-group mt-3">
              <label class="ms-2">Nome mãe</label>
              <input type="text" class="form-control" placeholder="Nome da mãe" formControlName="nomeMae"/>
              <app-mensagem *ngIf="novoPacienteForm.get('nomeMae')?.errors?.['maxlength']" mensagem="Tamanho máximo de 250 caracteres"></app-mensagem>
            </div>
            <div class="form-group mt-3">
              <label class="ms-2">Nome do pai</label>
              <input type="text" class="form-control" placeholder="Nome do pai"  formControlName="nomePai"/>
              <app-mensagem *ngIf="novoPacienteForm.get('nomePai')?.errors?.['maxlength']" mensagem="Tamanho máximo de 250 caracteres"></app-mensagem>
            </div>
            <div class="form-group mt-3">
              <label class="ms-2">Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
              <app-mensagem *ngIf="novoPacienteForm.get('email')?.errors?.['maxlength']" mensagem="Tamanho máximo de 100 caracteres"></app-mensagem>
              <app-mensagem *ngIf="novoPacienteForm.get('email')?.errors?.['email']" mensagem="Email incorreto"></app-mensagem>

            </div>
            <div class="form-group mt-3">
              <label class="ms-2">Endereço</label>
              <input type="text" class="form-control" placeholder="Endereço" formControlName="endereco" />
              <app-mensagem *ngIf="novoPacienteForm.get('endereco')?.errors?.['maxlength']" mensagem="Tamanho máximo de 250 caracteres"></app-mensagem>
            </div>
            <div class="row mt-3">
              <div class="form-group col">
                <label class="ms-2">CEP</label>
                <input type="text" class="form-control" placeholder="CEP" mask="00000-000" formControlName="cep"/>
              </div>
              <div class="form-group col">
                <label class="ms-2">Bairro</label>
                <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro"/>
                <app-mensagem *ngIf="novoPacienteForm.get('nomePai')?.errors?.['maxlength']" mensagem="Tamanho máximo de 250 caracteres"></app-mensagem>
              </div>
            </div>
            <div class="row justify-content-center mt-4">
            <button [disabled]= "novoPacienteForm.invalid" class="btn  btn-success btn-sm    col-2">Cadastrar</button>
            <a class="btn  btn-outline-secondary btn-sm m  ms-3 col-2" [routerLink]="['/paciente/pacientes']">Cancelar</a>
          </div>
          </form>
        </div>
      </div>
      <div class="card-footer bg-transparent border-success">

      </div>
    </div>

  </div>


</body>
