<header>
<div class="bg-success">
  <nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container">


      <a class="navbar-brand  ms-2 margin-right-5 h1 " href="#" >  <img class=" logo rounded-circle bg-light" src="../../assets/img/logo.svg"/> </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBabecalho" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarBabecalho" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a class="nav-link active text-light" aria-current="page"   [routerLink]="['paciente/pacientes']">Paciente</a>

          </li>
              <li>
                <a class="nav-link active text-light" href="#">Procedimento</a>

              </li>
             <!--
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
            </ul>




      </div>
    </div>
  </nav>
</div>
<hr>
</header>
